.home__sidebar {
  flex: 1;
  border-right: 1px solid var(--color-white);
  // height:100vh;
  padding: 4px;
  box-shadow: 1px 1px 17px rgb(239, 237, 237);
  // top part for logo
  .home__sidebar-top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .home__sidebar-top_logo {
      font-size: 20px;
      color: var(--main-color);
      font-weight: 600;
    }
  }
  // center part
  .home__sidebar-center {
    font-family: var(--font-base);
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        align-items: center;
        padding: 5px;
        font-size: 15px;
        cursor: pointer;
        &:hover {
          background-color: var(--color-white);
        }
        span {
          margin-left: 10px;
        }
      }
    }

    .home__sidebar-center-title {
      font-size: 16px;
      color: var(--color-gray);
    }
    svg {
      color: var(--main-color);
      opacity: 0.8;
      font-size: 18px;
    }
  }
  // bottom part
  .home__sidebar-bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .home__sidebar-bottom-color {
      width: 20px;
      height: 20px;
      border: 1px solid var(--main-color);
      border-radius: 5px;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: white;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}


